.gitignore

.vscode
#.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

GRBR_ProxyMapping.csv
GRBR_mailconf.json
C1_ProxyMapping.csv
kruesi_mailconf.json
Definitions.txt
passwd_C1-NX-V.xml
*.log